<h1>Stupid Coaching</h1>
<div class = bg-light>
<%= params[:question] %>
<p><em>-You</em></p>
<p></p>
</div>
<div class = bg-light>
<%= @answer %>
<p><em>-Your coach</em></p>
</div>
<div class = bg-light>
<%= link_to "Ask a new question", ask_path %>
</div>
